* {
    box-sizing: border-box;
}
body {
    background-color: rgb(123, 160, 190);
}
h1 {
    margin-left:auto ;
    margin-right: auto;
    text-align: center;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 60px;
    color:rgb(29, 1, 1);
    border: 2px solid black;
    background-color: aqua;
}
section {
    position: relative;
    padding: 15px;
    width: 100%;
}

div {
    position: relative;
    background-color: rgb(240, 79, 79);
    border: 3px solid black;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}
.title1 {
    color: white;
    float: right;
    width: 120px;
    padding: 5px;
    margin: 1px;
    border: 3px solid black;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    background-color: rgb(29, 5, 1);
    
}
.title2 {
    float: right;
    color: rgb(255, 255, 255);
    width: 100px;
    padding: 5px;
    margin: 1px;
    border: 3px solid black;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    background-color: rgb(26, 1, 1);
    
}
.title3 {
    color: rgb(255, 255, 255);
    float: right;
    width: 100px;
    padding: 5px;
    margin: 1px;
    border: 3px solid black;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    background-color: rgb(19, 1, 1);
    
}
.content {
    padding: 5px;
    padding-top: 10px;
    border: none;
    background-color: rgb(4, 156, 55);
    font-family: Helvetica;
    color: black;
    margin: 0px;
    height: 200px;
    overflow: auto;
    clear: right;
    font-size: medium;
}

.row {
    width: 90%;
}

/*desktop version*/
@media (min-width: 992px){
    .column-lg-4 {
        float: left;
        width: 33.0%;
        margin: 2px;
        padding: 0px;
    }
}
/*tablet version*/
@media (min-width: 768px) and (max-width: 991px){
    .colmn-md-6 {
        float: left;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .colmn-md-12 {
        float: left;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}
/*mobile version*/
@media (max-width: 767px){
    .colmn-sm-12 {
        float: left;
        width: 100%;
    }
}
